<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Pointofinterest</th>
        <th>County</th>
        <th>Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each country.pointofinterests}}
        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{county}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                {{latitude}}
            </td>
            <td>
                {{longitude}}
            </td>
            <td>
                <a href="/country/{{../country._id}}/deletepointofinterest/{{_id}}" class="ui icon button">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h2>Reviews</h2>
{{#each pointofinterest.reviews}}
    <div class="review">
        <p>{{text}}</p>
    </div>
{{/each}}

<form action="/country/{{country._id}}/pointofinterest/{{pointofinterest._id}}/reviews" method="POST">
    <div class="field">
        <label class="label">Add a review</label>
        <div class="control">
            <textarea class="textarea" name="review"></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
    </div>
</form>
